/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 30px;
}

.logo img {
    height: 60px;
}

.titulo-superior {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #1a237e;
    line-height: 1.4;
}

/* CONTENIDO PRINCIPAL */
.main {
    background-color: #f2f2f2; /* Gris claro */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 48px;
    font-weight: 900;
    color: #333;
}

/* FOOTER */
.footer {
    background-color: #2d2dbb;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer h3 {
    margin-bottom: 8px;
}

.contenedor-app {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

input, select, button {
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #2d2dbb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a1a8f;
}